ipyfilechooser==0.6.0
aiohttp
requests
fsspec
ipyleaflet
gdown
geopandas
rioxarray
rasterio

numpy==1.26.4
zarr>=3.0
numcodecs>=0.14

matplotlib
pandas
pillow
branca
localtileserver
mintpy
h5py
s3fs
botocore
boto3
h5netcdf
netCDF4
