ipyfilechooser==0.6.0
aiohttp
requests
fsspec
ipyleaflet
gdown
geopandas
rioxarray
rasterio
numcodecs
zarr
matplotlib
pandas
pillow
branca
localtileserver
mintpy
h5py
s3fs
botocore
boto3
h5netcdf
netCDF4
